<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GOTO LOGIN</title>
	<link rel="stylesheet" type="text/css" href="new_nav.css">
</head>
<body style="background-color: rgba(108,185,231,255);">
	<header>
		<nav class="na">
		<h2 href="#" class="logo">Bluce</h2>
		</nav>
		<nav class="navigation">
		<a href="#" >About Us</a>
		<a href="#" >Login</a>
		<a href="#" >Contact us</a>
            <a1 herf=# class="badge d-flex align-items-center p-2 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
              <img class="rounded-circle me-1" width="25" height="25" src="C:/Users/Prerana/Downloads/Stickers Cloud.webp" alt=""></a1>
		</nav>
	</header>
</body>
</html>